/* line 72, icons/*.png */
.icons-sprite, .icons-buy-btn1, .icons-buy-btn2, .icons-buy-btn3, .icons-buy-btn4 {
  background-image: url('../img/icons-s04c14b905b.png');
  background-repeat: no-repeat;
}

/* line 84, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-buy-btn1 {
  background-position: 0 0;
  height: 23px;
  width: 27px;
}

/* line 84, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-buy-btn2 {
  background-position: 0 -23px;
  height: 23px;
  width: 27px;
}

/* line 84, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-buy-btn3 {
  background-position: 0 -46px;
  height: 20px;
  width: 37px;
}

/* line 84, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/sprites/_base.scss */
.icons-buy-btn4 {
  background-position: 0 -66px;
  height: 23px;
  width: 38px;
}

/* line 16, ../sass/comm.scss */
[class*='icon'] {
  display: inline-block;
  vertical-align: top;
}

/* line 21, ../sass/comm.scss */
* {
  padding: 0;
  margin: 0;
  border: none;
}

/* line 26, ../sass/comm.scss */
ul, li {
  list-style: none;
}

/* line 27, ../sass/comm.scss */
label {
  font-weight: normal;
}

/* line 34, ../sass/comm.scss */
.a-block {
  display: block !important;
}

/* line 35, ../sass/comm.scss */
.a-inline-block {
  display: inline-block !important;
}

/* line 36, ../sass/comm.scss */
.a-font-normal {
  font-weight: normal !important;
}

/* line 37, ../sass/comm.scss */
.a-vertical-align-top {
  vertical-align: top !important;
}

/* line 38, ../sass/comm.scss */
.a-vertical-align-bottom {
  vertical-align: bottom !important;
}

/* line 41, ../sass/comm.scss */
.a-red {
  color: #d93229 !important;
}

/* line 42, ../sass/comm.scss */
.a-white {
  color: #fff !important;
}

/* line 43, ../sass/comm.scss */
.a-gray {
  color: #555555 !important;
}

/* line 44, ../sass/comm.scss */
.a-gray-dark {
  color: #333333 !important;
}

/* line 45, ../sass/comm.scss */
.a-blue {
  color: blue !important;
}

/* line 46, ../sass/comm.scss */
.a-skyblue {
  color: #6666ff !important;
}

/* line 47, ../sass/comm.scss */
.a-orange {
  color: #F47837 !important;
}

/* line 48, ../sass/comm.scss */
.a-green {
  color: #51B148 !important;
}

/* line 50, ../sass/comm.scss */
.a-bg-yellow {
  background-color: #ffc40d !important;
}

/* line 51, ../sass/comm.scss */
.a-bg-yellowLight {
  background-color: #ffda00 !important;
}

/* line 52, ../sass/comm.scss */
.a-bg-yellowTint {
  background-color: #feffce !important;
}

/* line 53, ../sass/comm.scss */
.a-bg-white {
  background-color: #fff !important;
}

/* line 54, ../sass/comm.scss */
.a-bg-gray-shallow {
  background-color: #f2f2f2 !important;
}

/* line 59, ../sass/comm.scss */
.u-adaptive-right, .u-adaptive-left {
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.u-adaptive-right:after, .u-adaptive-left:after {
  content: "";
  display: table;
  clear: both;
}
/* line 61, ../sass/comm.scss */
.u-adaptive-right .adaptive-fixed, .u-adaptive-left .adaptive-fixed {
  position: relative;
}
/* line 64, ../sass/comm.scss */
.u-adaptive-right .adaptive-container, .u-adaptive-left .adaptive-container {
  width: 100%;
}

/* line 69, ../sass/comm.scss */
.u-adaptive-right .adaptive-fixed {
  float: left;
}
/* line 72, ../sass/comm.scss */
.u-adaptive-right .adaptive-container {
  float: right;
}

/* line 77, ../sass/comm.scss */
.u-adaptive-left .adaptive-fixed {
  float: right;
}
/* line 80, ../sass/comm.scss */
.u-adaptive-left .adaptive-container {
  float: left;
}
