/* line 7, ../sass/editor.scss */
.container {
  position: relative;
  width: 1000px;
  margin: auto;
  padding-bottom: 60px;
}
/* line 12, ../sass/editor.scss */
.container .content {
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.container .content:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, ../sass/editor.scss */
#view-wrap .item-editoring, #editor-wrap .item-editoring {
  outline: 3px solid #008000;
}

/* line 26, ../sass/editor.scss */
#editor-wrap {
  position: relative;
  left: 10px;
  float: right;
  padding: 10px;
  background-color: #f8f8f8;
  font-size: 14px;
}
/* line 33, ../sass/editor.scss */
#editor-wrap .am-tabs-bd {
  border-bottom: none;
}
/* line 36, ../sass/editor.scss */
#editor-wrap .inputArea {
  padding: 10px;
  border: 1px solid #ddd;
}
/* line 41, ../sass/editor.scss */
#editor-wrap .add-item .am-btn {
  margin-right: 10px;
}

/* line 49, ../sass/editor.scss */
#view-wrap {
  float: left;
  padding: 10px;
  background-color: #f8f8f8;
}
/* line 53, ../sass/editor.scss */
#view-wrap .control-group {
  position: relative;
  padding-bottom: 30px;
}
/* line 56, ../sass/editor.scss */
#view-wrap .control-group.active, #view-wrap .control-group:hover {
  outline: 2px dashed #fc7d7d;
}
/* line 60, ../sass/editor.scss */
#view-wrap .actions-wrap {
  position: absolute;
  bottom: 0;
  right: 0;
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
#view-wrap .actions-wrap:after {
  content: "";
  display: table;
  clear: both;
}
/* line 65, ../sass/editor.scss */
#view-wrap .actions-wrap .action {
  float: left;
  padding: 2px 4px;
  margin-right: 2px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
}

/* line 78, ../sass/editor.scss */
#add-widgets-panel {
  width: 41.66667%;
  background-color: #f8f8f8;
  padding: 10px;
}
/* line 82, ../sass/editor.scss */
#add-widgets-panel h4 {
  text-align: center;
  line-height: 30px;
}
/* line 86, ../sass/editor.scss */
#add-widgets-panel .am-btn {
  margin: 4px;
}

/* line 94, ../sass/editor.scss */
.bottom-action {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  line-height: 40px;
  text-align: center;
  background-color: #fefde2;
}

/* line 107, ../sass/editor.scss */
.editor-items {
  margin-bottom: 0;
  border: 1px solid #ddd;
  border-top-color: transparent;
}
/* line 111, ../sass/editor.scss */
.editor-items .editor-item {
  position: relative;
  display: inline-block;
  padding: 3px 5px;
  margin: 5px;
  border: 1px solid #ddd;
}
/* line 118, ../sass/editor.scss */
.editor-items .editor-item:hover .del-btn {
  display: inline-block;
}
/* line 120, ../sass/editor.scss */
.editor-items .editor-item .del-btn {
  display: none;
}

/* line 130, ../sass/editor.scss */
.editor-items {
  border: 1px solid #ddd;
  border-top-color: transparent;
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.editor-items:after {
  content: "";
  display: table;
  clear: both;
}
/* line 134, ../sass/editor.scss */
.editor-items .editor-item {
  position: relative;
  float: left;
  padding: 3px 5px;
  margin: 5px;
  border: 1px solid #ddd;
}

/* line 146, ../sass/editor.scss */
.media-list .add-item-btn {
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #ddd;
}
/* line 153, ../sass/editor.scss */
.media-list .add-item-btn i {
  margin-top: 15px;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
}
/* line 159, ../sass/editor.scss */
.media-list .editor-items {
  border-top-color: #ddd;
}
/* line 161, ../sass/editor.scss */
.media-list .editor-items .editor-item {
  width: 50px;
  height: 50px;
  line-height: 45px;
  padding: 0;
  border: 1px solid #ddd;
}
/* line 167, ../sass/editor.scss */
.media-list .editor-items img {
  width: 100%;
  height: auto;
  max-height: 50px;
  vertical-align: middle;
}
/* line 174, ../sass/editor.scss */
.media-list .am-form-group-sm + .am-form-group-sm {
  margin-bottom: 0;
}
/* line 177, ../sass/editor.scss */
.media-list .am-form-group-sm + .am-form-group-sm .am-u-sm-10 {
  padding-bottom: 10px;
  border-bottom: 1px solid #dddddd;
  background-color: #fff;
}

/* line 187, ../sass/editor.scss */
.media-showcase {
  *zoom: 1;
}
/* line 38, ../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.media-showcase:after {
  content: "";
  display: table;
  clear: both;
}
/* line 189, ../sass/editor.scss */
.media-showcase .editor-item {
  padding: 10px;
  margin: 15px 0;
  background-color: #fff;
}
/* line 195, ../sass/editor.scss */
.media-showcase .img-act {
  height: 80px;
  line-height: 80px;
  text-align: center;
}
/* line 200, ../sass/editor.scss */
.media-showcase .img-upload {
  display: block;
  cursor: pointer;
}
/* line 203, ../sass/editor.scss */
.media-showcase .img-upload a {
  color: #07d;
}
/* line 205, ../sass/editor.scss */
.media-showcase .img-result {
  display: none;
  position: relative;
}
/* line 208, ../sass/editor.scss */
.media-showcase .img-result img {
  height: 100%;
  width: auto;
}
/* line 212, ../sass/editor.scss */
.media-showcase .img-result .img-anew-upload {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0 8px;
  line-height: 30px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
}
/* line 223, ../sass/editor.scss */
.media-showcase .set-link-trigger, .media-showcase .set-link-modify {
  color: #07d;
}
/* line 226, ../sass/editor.scss */
.media-showcase .set-link-result {
  width: 60%;
  position: relative;
  padding-left: 6px;
  padding-right: 6px;
  margin-right: 2.5em;
  border-radius: 3px;
  color: #fff;
  background-color: #468847;
}
/* line 236, ../sass/editor.scss */
.media-showcase .set-link-result .set-link-result-cont {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}
/* line 240, ../sass/editor.scss */
.media-showcase .set-link-result .set-link-modify {
  position: absolute;
  top: 0;
  right: -2.5em;
}
/* line 245, ../sass/editor.scss */
.media-showcase .sort-desc-icon i {
  vertical-align: top;
  padding: 0 8px;
}
/* line 246, ../sass/editor.scss */
.media-showcase .set-link-pulldown {
  position: relative;
  left: 3.2em;
  padding-top: 6px;
  padding-bottom: 6px;
  line-height: 1.8em;
  float: left;
  border: 1px solid #ddd;
  border-radius: 3px;
}
/* line 256, ../sass/editor.scss */
.media-showcase .set-link-pulldown li {
  padding-left: 15px;
  padding-right: 15px;
}
/* line 260, ../sass/editor.scss */
.media-showcase .set-link-pulldown li:hover {
  background-color: #0000ff;
}
/* line 262, ../sass/editor.scss */
.media-showcase .set-link-pulldown li:hover a {
  color: #fff;
}

/* line 269, ../sass/editor.scss */
input[type="color"] {
  padding: .4em !important;
  height: 2em;
  background-color: #fff;
  margin-top: 3px;
}

/* line 275, ../sass/editor.scss */
.control-group {
  margin-bottom: 10px;
}

/* line 278, ../sass/editor.scss */
.add-title-link-block {
  position: relative;
  background-color: #fff;
  margin: 1.6rem;
  padding-top: 1.5rem;
}
/* line 286, ../sass/editor.scss */
.add-title-link-block .addTitleLinkBtn {
  padding-left: 15px;
}

/* line 288, ../sass/editor.scss */
.normalDate {
  position: relative;
}
/* line 290, ../sass/editor.scss */
.normalDate .normalDateLink {
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 10;
}
/* line 296, ../sass/editor.scss */
.normalDate div {
  padding-right: 40px;
}

/* line 304, ../sass/editor.scss */
.editor-items .editor-item .del-btn, .add-title-link-block .add-title-link-close, .editor-del-btn {
  position: absolute;
  right: -10px;
  top: -10px;
  width: 18px;
  height: 18px;
  line-height: 16px;
  text-align: center;
  cursor: pointer;
  color: #fff;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.2);
}
/* line 316, ../sass/editor.scss */
.editor-items .editor-item .del-btn:hover, .add-title-link-block .add-title-link-close:hover, .editor-del-btn:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

/* line 320, ../sass/editor.scss */
.media-list .add-item-btn i, .editor-add-item-icon {
  display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  padding: 2px;
  text-align: center;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  border-radius: 50%;
  background-color: #44bb00;
  font-size: 10px;
  color: #fff;
}

/* line 342, ../sass/editor.scss */
.components-box {
  background-color: #f9f9f9;
}
/* line 344, ../sass/editor.scss */
.components-box > h1, .components-box > h2, .components-box > h3 {
  border-top: 2px solid #0066bb;
  background-color: #d9d9d9;
}
/* line 348, ../sass/editor.scss */
.components-box > h1 {
  font-size: 24px;
}
/* line 349, ../sass/editor.scss */
.components-box > h2 {
  font-size: 20px;
}
/* line 350, ../sass/editor.scss */
.components-box > h3 {
  font-size: 18px;
}

/* line 352, ../sass/editor.scss */
.am-menu {
  padding-top: 47px;
  border-top: 1px solid #ddd;
}
/* line 355, ../sass/editor.scss */
.am-menu .am-menu-toggle {
  top: 0;
}
/* line 358, ../sass/editor.scss */
.am-menu .am-menu-toggle-icon, .am-menu .am-menu-toggle-title {
  color: #333;
}
