@charset "UTF-8";
/* line 11, ../../sass/components/media-list.scss */
.jz-media-list {
  padding: 5px;
}
/* line 13, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-item {
  position: relative;
  margin-bottom: 15px;
  border: 1px solid #ddd;
  background-color: #fff;
}
/* line 19, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-block {
  overflow: hidden;
}
/* line 21, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-block img {
  width: 100%;
  height: auto;
}
/* line 26, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-info {
  padding: 5px;
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.jz-media-list .jz-media-info:after {
  content: "";
  display: table;
  clear: both;
}
/* line 30, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-desc {
  font-size: 0.85714;
  color: #666;
  margin-bottom: 30px;
}
/* line 35, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-desc + .jz-media-price {
  margin-top: -28px;
}
/* line 39, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-price {
  float: left;
  font-weight: bold;
  font-family: "microsoft yahei";
  color: #ff661f;
  line-height: 1.8;
}
/* line 46, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-btn {
  position: absolute;
  bottom: 10px;
  right: 3px;
}
/* line 49, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-btn .icon-buyBtn4 {
  position: relative;
  right: -6px;
}
/* line 55, ../../sass/components/media-list.scss */
.jz-media-list .jz-media-promotio-badge {
  display: none;
  float: right;
}
/* line 59, ../../sass/components/media-list.scss */
.jz-media-list p {
  margin: 0;
  line-height: 1.57143;
}

/* media-big,media-first-big,media-small,media-rowlist */
/* line 67, ../../sass/components/media-list.scss */
.jz-media-small .jz-media-block, .jz-media-first-big .jz-media-block, .jz-media-rowlist .jz-media-block {
  height: 140px;
}

/* line 71, ../../sass/components/media-list.scss */
.jz-media-small, .jz-media-first-big {
  margin-left: -3%;
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.jz-media-small:after, .jz-media-first-big:after {
  content: "";
  display: table;
  clear: both;
}
/* line 74, ../../sass/components/media-list.scss */
.jz-media-small .jz-media-item, .jz-media-first-big .jz-media-item {
  float: left;
  width: 47%;
  margin-left: 3%;
  padding: 1px;
}

/* line 82, ../../sass/components/media-list.scss */
.jz-media-big .jz-media-item {
  padding: 5px;
}
/* line 85, ../../sass/components/media-list.scss */
.jz-media-big .jz-media-block {
  height: 280px;
}
/* line 88, ../../sass/components/media-list.scss */
.jz-media-big .jz-media-title {
  font-weight: bold;
}

/* line 93, ../../sass/components/media-list.scss */
.jz-media-first-big .jz-media-item:first-child {
  width: 97%;
  padding: 5px;
}
/* line 96, ../../sass/components/media-list.scss */
.jz-media-first-big .jz-media-item:first-child .jz-media-block {
  height: 280px;
}

/* line 102, ../../sass/components/media-list.scss */
.jz-media-rowlist .jz-media-item {
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.jz-media-rowlist .jz-media-item:after {
  content: "";
  display: table;
  clear: both;
}
/* line 104, ../../sass/components/media-list.scss */
.jz-media-rowlist .jz-media-item > a {
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.jz-media-rowlist .jz-media-item > a:after {
  content: "";
  display: table;
  clear: both;
}
/* line 108, ../../sass/components/media-list.scss */
.jz-media-rowlist .jz-media-block {
  float: left;
  width: 40%;
}
/* line 112, ../../sass/components/media-list.scss */
.jz-media-rowlist .jz-media-info {
  overflow: hidden;
  padding-left: 10px;
}

/* media-simple （极简） ,media-waterfall （瀑布） ,media-promotion （促销） */
/* line 120, ../../sass/components/media-list.scss */
.jz-media-simple .jz-media-item {
  border-color: transparent;
}
/* line 124, ../../sass/components/media-list.scss */
.jz-media-simple.jz-media-rowlist .jz-media-item {
  padding-bottom: 10px;
  border-bottom-color: #ddd;
}
/* line 130, ../../sass/components/media-list.scss */
.jz-media-simple.jz-media-big .jz-media-item, .jz-media-simple.jz-media-small .jz-media-item, .jz-media-simple.jz-media-first-big .jz-media-item {
  padding: 0;
}
/* line 134, ../../sass/components/media-list.scss */
.jz-media-simple.jz-media-big .jz-media-item .jz-media-info, .jz-media-simple.jz-media-small .jz-media-item .jz-media-info, .jz-media-simple.jz-media-first-big .jz-media-item .jz-media-info {
  height: 0;
  padding: 0;
  overflow: hidden;
}
/* line 139, ../../sass/components/media-list.scss */
.jz-media-simple.jz-media-big .jz-media-item .jz-media-btn, .jz-media-simple.jz-media-small .jz-media-item .jz-media-btn, .jz-media-simple.jz-media-first-big .jz-media-item .jz-media-btn {
  display: none;
}
/* line 140, ../../sass/components/media-list.scss */
.jz-media-simple.jz-media-big .jz-media-item .jz-media-price, .jz-media-simple.jz-media-small .jz-media-item .jz-media-price, .jz-media-simple.jz-media-first-big .jz-media-item .jz-media-price {
  display: inline-block;
  position: absolute;
  bottom: 3px;
  right: 3px;
  padding: 0 3px;
  font-weight: normal;
  color: #fff;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.5);
}
/* line 153, ../../sass/components/media-list.scss */
.jz-media-simple.jz-media-rowlist .jz-media-item {
  padding-bottom: 10px;
  border-bottom-color: #ddd;
}

/* line 161, ../../sass/components/media-list.scss */
.jz-media-promotion .jz-media-info > *, .jz-media-promotion .jz-media-btn {
  display: none;
}
/* line 162, ../../sass/components/media-list.scss */
.jz-media-promotion .jz-media-info {
  overflow: hidden;
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
/* line 167, ../../sass/components/media-list.scss */
.jz-media-promotion .jz-media-info .jz-media-price {
  display: inline-block;
  margin-top: 0;
  color: #ff495b;
}
/* line 173, ../../sass/components/media-list.scss */
.jz-media-promotion .jz-media-promotio-badge {
  display: inline-block;
  width: 2em;
  padding: 6px 10px;
  line-height: 1.1;
  color: #fff;
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  background-color: #ff495b;
}

/* line 184, ../../sass/components/media-list.scss */
.jz-media-waterfall {
  margin-left: -3%;
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.jz-media-waterfall:after {
  content: "";
  display: table;
  clear: both;
}
/* line 187, ../../sass/components/media-list.scss */
.jz-media-waterfall .jz-media-block {
  height: auto;
}
/* line 191, ../../sass/components/media-list.scss */
.jz-media-waterfall.waterfall-col2 .waterfall-list {
  width: 47%;
}
/* line 196, ../../sass/components/media-list.scss */
.jz-media-waterfall.waterfall-col3 .waterfall-list {
  width: 30.33333%;
}
/* line 201, ../../sass/components/media-list.scss */
.jz-media-waterfall.waterfall-col4 .waterfall-list {
  width: 22%;
}
/* line 206, ../../sass/components/media-list.scss */
.jz-media-waterfall.waterfall-col5 .waterfall-list {
  width: 17%;
}
/* line 210, ../../sass/components/media-list.scss */
.jz-media-waterfall .waterfall-list {
  float: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  margin-left: 3%;
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.jz-media-waterfall .waterfall-list:after {
  content: "";
  display: table;
  clear: both;
}
/* line 215, ../../sass/components/media-list.scss */
.jz-media-waterfall .waterfall-list li, .jz-media-waterfall .waterfall-list .jz-media-item {
  visibility: hidden;
  width: 100%;
  margin: 10px 0;
}
