/* line 9, ../../sass/components/nav.scss */
.jz-nav {
  display: block;
}
/* line 11, ../../sass/components/nav.scss */
.jz-nav li {
  position: relative;
  padding: 12px;
  background-color: #fff;
}
/* line 15, ../../sass/components/nav.scss */
.jz-nav li > a {
  display: block;
}
/* line 19, ../../sass/components/nav.scss */
.jz-nav .jz-item-icon {
  float: left;
}
/* line 22, ../../sass/components/nav.scss */
.jz-nav .jz-item-txt {
  overflow: hidden;
}
/* line 25, ../../sass/components/nav.scss */
.jz-nav .jz-right-icon {
  float: right;
}

/* line 32, ../../sass/components/nav.scss */
.jz-nav-icon1 {
  *zoom: 1;
}
/* line 38, ../../../../../../usr/local/ruby-2.1.4/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/utilities/general/_clearfix.scss */
.jz-nav-icon1:after {
  content: "";
  display: table;
  clear: both;
}
/* line 34, ../../sass/components/nav.scss */
.jz-nav-icon1 .jz-item-icon {
  float: none;
  margin-bottom: 10px;
}
/* line 38, ../../sass/components/nav.scss */
.jz-nav-icon1 .jz-right-icon {
  display: none;
}
/* line 39, ../../sass/components/nav.scss */
.jz-nav-icon1 li {
  float: left;
  width: 25%;
  text-align: center;
}
/* line 44, ../../sass/components/nav.scss */
.jz-nav-icon1 .jz-item-txt {
  font-size: 14px;
  line-height: 1;
}
